

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Business Document Management</h2>

<form >
    <div class="input-group">
        <input type="text" class="form-control" id="GridSearch" placeholder="Search" autocomplete="off" aria-describedby="basic-addon2"/>
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="button" id="Clear" value="Reset" onClick="window.location.reload();" />
            @*<a href="window.location.reload();" class="btn btn-outline-secondary">Reload</a>*@
            <a href="@Url.Action("Create", "Document")" class="btn btn-outline-secondary">Create</a>
            <a href="@(Url.Action("ExportIndex", "Excel") + "?" + ViewContext.HttpContext.Request.QueryString)" class="btn btn-outline-secondary">Export</a>
        </div>
    </div>
</form>
<br />
@Html.AjaxGrid(Url.Action("IndexGrid"), new { id = "doc-ajax-grid" })

<script>
    document.getElementById('GridSearch').addEventListener('input', function () {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        grid.query.set('search', this.value);
        grid.reload();
    });

</script>
