

@{
    ViewBag.Title = "Index";
}

<h2>Business Document Management</h2>

<p>
    <a href="@Url.Action("Create", "Document")" class="btn btn-success">Create New</a>
</p>
<form style="display: flex;margin-bottom:10px;">
    <input id="GridSearch" class="form-control" placeholder="Search" />
    <input type="button" id="clear" class="btn btn-primary" value="Reset" style="margin-left:10px;"/>
</form>



@Html.AjaxGrid(Url.Action("IndexGrid"))

<script>
    document.getElementById('GridSearch').addEventListener('input', function () {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        grid.query.set('search', this.value);
        grid.reload();
    });
    document.getElementById('clear').addEventListener('input', function () {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        document.getElementById("GridSearch").value = "";
        grid.reload();
    });
</script>
