

@{
    ViewBag.Title = "Index";
}

<h2>Business Document Management</h2>

<form style="display: flex;margin-bottom:10px;">
    <input id="GridSearch" class="form-control" placeholder="Search" autocomplete = "off"/>
    <input type="button" id="Clear" class="btn btn-primary mvc-grid-cancel" value="Reset" onClick="window.location.reload();" style="margin-left:10px;" />
    <a href="@Url.Action("Create", "Document")" class="btn btn-success " style="margin-left:10px;">Create</a>

</form>



@Html.AjaxGrid(Url.Action("IndexGrid"))

<script>
    document.getElementById('GridSearch').addEventListener('input', function () {
        var grid = new MvcGrid(document.querySelector('.mvc-grid'));
        grid.query.set('search', this.value);
        grid.reload();
    });

</script>
